.navbar {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  width: 200px;
  display: flex;
  align-items: center;
}

.navbar-logo img{
  border-right: 2px solid white;
  padding-right: 5px;
}

.navbar-logo p{
  padding-left: 3px;
  font-weight: bold;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links img{
  display: none;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 834px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 16px;
    height: 100vh;
    position: absolute;
    justify-content: initial;
    top: 100px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    padding-top: 119px;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 15px;
    text-align: left;
    justify-content: start;
    padding: 2rem;
    width: 90%;
    display: table;
    font-size: 1.5rem;
  }

  .nav-links img{
    display: inline;
    
  }
  

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 28px);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%,90%);
    font-size: 1.7rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}
